<div class="app-bar-wrapper no-select">
  <div class="app-bar-elements-layer">
    <div class="title-and-back">
      <span class="title title-photos" id="appBarTitle">Photos Light</span>
    </div>
    <div class="date-picker" hidden aria-hidden="true"></div>
    <div class="actions">
      <button
        type="button"
        class="app-bar-icon-button"
        id="sortToggleBtn"
        aria-label="Sort"
        title="Newest first"
      >
        <span class="material-symbols-outlined app-bar-icon" id="sortIcon"
          >hourglass_arrow_down</span
        >
      </button>
      <button
        type="button"
        class="app-bar-icon-button"
        id="downloadBtn"
        aria-label="Download"
        title="Download"
      >
        <span class="material-symbols-outlined app-bar-icon">download</span>
      </button>
      <button
        type="button"
        class="app-bar-icon-button inactive"
        id="deselectAllBtn"
        aria-label="Deselect all"
        title="Deselect all"
      >
        <span class="material-symbols-outlined app-bar-icon">cancel</span>
      </button>
      <button
        type="button"
        class="app-bar-icon-button"
        id="utilitiesBtn"
        aria-label="More options"
        title="More options"
      >
        <span class="material-symbols-outlined app-bar-icon">more_vert</span>
      </button>
    </div>
  </div>
</div>
