<!-- Utilities Dropdown Menu -->
<div class="utilities-menu" id="utilitiesMenu" style="display: none">
  <button class="utilities-menu-item" id="switchLibraryBtn">
    <span class="material-symbols-outlined">folder_open</span>
    <span>Open library</span>
  </button>

  <div class="utilities-menu-divider"></div>

  <button class="utilities-menu-item" id="cleanOrganizeBtn">
    <span class="material-symbols-outlined">auto_fix_high</span>
    <span>Clean & update library</span>
  </button>

  <button class="utilities-menu-item" id="rebuildDatabaseBtn">
    <span class="material-symbols-outlined">database</span>
    <span>Rebuild database</span>
  </button>

  <button class="utilities-menu-item" id="rebuildThumbnailsBtn">
    <span class="material-symbols-outlined">image</span>
    <span>Rebuild thumbnails</span>
  </button>

  <button class="utilities-menu-item" id="removeDuplicatesBtn">
    <span class="material-symbols-outlined">content_copy</span>
    <span>Show duplicates</span>
  </button>
</div>
